@page "/"

<PageTitle>Welcome</PageTitle>

Simple taste how Lucene.net engine can index Customers in memory.

<table class="table">
    
    <tr>
        <td width="210">
            <img src="../images/lucene.jpeg" alt="" class="img-thumbnail rounded float-left" width="200"> 
            <img src="../images/blazor.png" alt="" class="img-thumbnail rounded float-left" width="250">
        </td>
        
    </tr>
</table>
